body {
    background-color: #dddddd;
}

#h1 {
    position: absolute;
    left: 300px;
    top: -12px; 
    width: 300px;
    height: 101px;
    background-color: #4aaaa5;
    color: white;  
    text-align: center;
    font-size: 40px;
}

#h2 {
    color: #4aaaa5;
    margin-left: 15px;
}

header {
    background-color: white;
    width: 100%; 
    height: 100px;
}

ul {
    list-style-type: none;
    background-color: white;
}

li {
    float: right;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
}

section {
    position: absolute;
    left: 300px;
    top: 150px;
    width: 960px;
    height: 800px;
    background-color: white;
}

article {
    margin-left: 15px;
}

footer {
    position: absolute;
    bottom: -300px;
    left: 0%;
    height: 50px;
    width: 100%;
    background-color: #666666;   
}

.art1 {
    width: 500px;
    position: absolute;
    left: 250px;
    bottom: 400px;
    line-height: 40px;
}

#art {
    position: absolute;
    top: 100px; 
    left: 8px;
    
}

#art2 {
    position: absolute;
    left: 240px;
    top: 100px;
}

#art3 {
    position: absolute;
    bottom: 285px;
    left: 8px; 
}

#art4 {
    position: absolute;
    bottom: 50px;
    left: 8px;
}

#art5 {
    position: absolute;
    left: 240px;
    bottom: 285px;
}

.text-block {
    position: absolute;
    bottom: 10px;
    width: 140px;
    height: 50px;
    background-color: #4aaaa5 ;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 40px;
}

.text-block2 {
    position: absolute;
    bottom: 10px;
    width: 140px;
    height: 50px;
    background-color: #4aaaa5 ;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 35px;
    
}

.text-block3 {
    position: absolute;
    bottom: 10px;
    width: 140px;
    height: 50px;
    background-color: #4aaaa5 ;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 40px;

}

.text-block4 {
    position: absolute;
    bottom: 10px;
    width: 140px;
    height: 50px;
    background-color: #4aaaa5 ;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 40px;
}

.text-block5 {
    position: absolute;
    bottom: 10px;
    width: 140px;
    height: 50px;
    background-color: #4aaaa5 ;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 40px;
}

#name {
    width: 900px;
}

#email {
    width: 900px;
}

#message {
    width: 900px;
}

#submit {
    background-color: #4aaaa5;
    color: white;
    width: 100px;
    height: 35px;
}
